@import '../../styles/variables.scss';
@import '../../styles/global.scss';
@import '../../styles/visually-hidden.scss';
@import '../../styles/container-site.scss';


.main {
    position: relative;
    padding-top: 206px;
    padding-bottom: 141px;
    &--basket {
        padding-top: 241px;
        padding-bottom: 173px;
    }
    &::before {
        content: "";
        display: block;
        background-image: url(../../img/guitar-header.png);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        background-size: auto 106%; //why the bg imge less than original one if i don't make it as 106%?
        width: 100%;
        height: 282px;
        top: -32px;
        left: 0;
        z-index: 10;

    }
    &::after {
        content: "";
        display: block;
        background-image: url(../../img/guitar-footer.png);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        background-size: auto 106%; //why the bg imge less than original one if i don't make it as 106%?
        width: 100%;
        height: 282px;
        bottom: -202px;
        left: 0;
        z-index: 10;

    }
    &--catalog {
        padding-top: 227px;
    }
}