@font-face {
    font-family: "Droid Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url("../fonts/droidsans.woff2") format("woff2"),
      url("../fonts/DroidSans.woff") format("woff");
}