a {
    text-decoration: none;

    &:hover {
        opacity: 0.3;
      }
}
  
img {
  max-width: 100%;
  height: auto;
}

.body-page {
//   margin: 0;
//   overflow-x: hidden;
//   font-family: "Roboto", "Arial", sans-serif;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 22.4px;
//   color: $basic-black;
//   box-sizing: border-box;
}