$light-grey: #DDDADA;
$checkbox-disabled: #F6F3F3;
$checkbox-border:#DDDDDD;
$normal-grey: #9F9E9E;
$basic-white: #fff;
$dark-grey: #3F3F3F;
$tablet-width: 768px;
$mobile-width-only: 767px;
$desktop-width: 1020px;
$basic-black: #000000;
$red: #F20505;
$orange: #E27F00;
$light-black: #474747;
$pagination-grey: #585757; 
$button-grey: #C1C1C1;
$grey-click :rgba(71, 71, 71, 0.5);
$orange-dark: #DA8B26;
$orange-bright: #FFA839;
$middle-grey: #9B9A9A;