@import '../../styles/variables.scss';
@import '../../styles/global.scss';
@import '../../styles/container-site.scss';
// @import '../../styles/list.scss';

.basket {
    .navigation-site {
        margin-top: 21px;
        margin-bottom: 31px;
    }
}

.basket__calculations {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.guitars__guitar-title {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 14px;
}

.guitars__list {
    border-top: 1px solid $light-grey;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.guitars__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 11px;
    border-bottom: 1px solid $light-grey;
    position: relative;
}

.guitars__container {
    margin-right: 70px;
    &--input {
        display: flex;
        height: 30px;
        padding-top: 21px;
    }
    &--image {
        padding-left: 38px;
        margin-right: 35px;
    }
    &--price {
        padding-top: 57px;
    }
    &--info {
        width: 280px;
    }
    &:last-child {
        margin-right: 0;
    }
}
.guitars__image {
    height: 128px;
    width: 56px;
}
.guitars__number, .guitars__info {
    margin: 0;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 6px;
    &:last-child {
        margin-bottom: 0;
    }
    &--info {
        min-width: 260px;
    }
}
.guitars__price {
    margin: 0; 
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 1.5px;
}
.guitars__input {
    display: block;
    width: 28px;
    padding: 0;
    margin: 0;
    border: none;
    border-top: 1px solid $normal-grey;
    border-bottom: 1px solid $normal-grey;
    color: $normal-grey;
    border-radius: 0;
    text-align: center;
}

.guitar__button {
    position: relative;
    width: 28px;
    border: 1px solid $normal-grey;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.guitar__button-delete {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 20px;
    left: 0;
    cursor: pointer;
    svg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 18px;
        height: 18px;
    }
}

.guitars__price {
    &--quantity {
        font-weight: bold;
    }
}

.coupon__title {
    margin: 0;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 1.5px;
}
.coupon__label {
    display: block;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    margin-top: 8px;
}
.coupon__container {
    margin-top: 17px;
    display: flex;

}
.coupon__input {
    display: block;
    padding: 0;
    border: 0;
    margin: 0;
    padding: 11px 0px;
    width: 170px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 33px;
    border: 1px solid $light-grey;
    &--error {
        border-color: red;
    }
    &::placeholder {
        color: $basic-black;
    }
}

.coupon__wrong {
    color: red;
    display: block;
}

.coupon__button {
    width: 200px;
}

.basket__final-price {
    margin: 0;
    font-size: 20px;
    line-height: 15px;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-align: right;
}

.basket__submit {
    margin-top: 44px;
    width: 220px;
    letter-spacing: 1.5px;
    padding: 10px 0;
}