@import '../../styles/variables.scss';
@import '../../styles/global.scss';
@import '../../styles/container-site.scss';
@import '../../styles/title.scss';
@import '../../styles/list.scss';


.footer {
    background-color: $dark-grey;
    @media screen and (min-width: $tablet-width) {
        padding-top: 61px;
        padding-bottom: 51px;
    } 
    @media screen and (min-width: $desktop-width) {
        padding-bottom: 63px;
    }  
}

.footer a {
    font-size: 10px;
    line-height: 20px;
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.footer__section {
    color: $basic-white;
}

.footer__title {
    letter-spacing: 0.5px;
}
.footer__social {
    width: 104px;
    @media screen and (min-width: $tablet-width) {
        margin-top: 67px;
    } 
    @media screen and (min-width: $desktop-width) {
        width: 118px;
        margin-top: 55px;
    } 
}
.social-footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.info-footer__link, .catalog-footer__link, .contacts-footer__link {
    color: $basic-white;
}
.contacts-footer__link, .contacts-footer__time {
    position: relative;
    padding-left: 15px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.contacts-footer__link {
    &::before {
        background-image: url(../../img/icon-phone.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
    }
}

.contacts-footer__time {
    &::before {
        background-image: url(../../img/icon-clock.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
    }
}